@using Microsoft.AspNetCore.Identity
@using ProperHouse.Infrastructure.Data.Models
@using ProperHouse.Core.Contracts

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IOwnerService OwnerService

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();
        var userIsOwner = OwnerService.IsUserOwner(userId);
        var userIsAdmin = User.IsAdmin();
        @if(!userIsAdmin)
        {
            <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Favorite" asp-action="MyFavorites">My favorites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Reservation" asp-action="MyReservations">My reservations</a>
        </li>
        }       

        @if (userIsOwner)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="Mine">My properties</a>
            </li>
        }
        @if(!userIsOwner && !userIsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Owner" asp-action="Create">Become Owner</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
