@model PropertyViewModel

@{
    ViewData["Title"] = "Add Property";
}
<h2 class="text-center">Add Property</h2>
<partial name="_PropertiesFormPartial" model="@Model"/>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
