@model List<PropertyListingViewModel>

    @{
        ViewData["Title"] = "All Properties";
    }

@if(!Model.Any())
    {
        <h2 class="text-center">Be the first to list a property!</h2>
    }

    <partial name="_PropertiesListPartial" model="@Model"/>
